@import "tailwindcss";

:root {
  --background: #ffffff;
  --surface: #ebebeb;
  --card: #ffffff;
  --text: #0b1220;
  --muted: #6b7280;
  --accent: #0ea5a4;
  --overlay: rgba(0,0,0,0.35);
  --glass: rgba(255,255,255,0.6);
}

html[data-theme='light'] {
 --background: #ffffff;
 --surface: #f8fafc;
 --card: #ffffff;
 --text: #0b1220;
 --muted: #6b7280;
 --accent: #0ea5a4;
 --overlay: rgba(0,0,0,0.35);
 --glass: rgba(255,255,255,0.6);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background:#000000;
    --surface: #0c1722;
    --card: #0f1724;
    --text: #f8fafc;
    --muted: #9aa3b2;
    --accent: #34d399;
    --overlay: rgba(0,0,0,0.45);
    --glass: rgba(10,15,20,0.36);
  }
}

html[data-theme='dark'] {
 --background: #000000;
 --surface: #0c1722;
 --card: #0f1724;
 --text: #f8fafc;
 --muted: #9aa3b2;
 --accent: #34d399;
 --overlay: rgba(0,0,0,0.45);
 --glass: rgba(10,15,20,0.36);
} 

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-card: var(--card);
  --color-text: var(--text);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-overlay: var(--overlay);
  --color-glass: var(--glass);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

/* Reusable components */
@layer components {
  .card {
    @apply rounded-2xl overflow-hidden shadow-xl;
    background: var(--card);
  }

  .btn-primary {
    @apply inline-flex items-center gap-2 px-4 py-2 rounded-md font-semibold;
    background: var(--accent);
    color: white;
  }
}



/* In your global CSS file (e.g., globals.css) */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Edge, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}



